* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Header style */
.header {
    background-image: url('images/banner/banner1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 150px;
}

.header-background {
    color: #151414;
    text-align: right;
    padding: 165px 150px 0 800px;
}

.header-title {
    font-weight: 700;
    font-size: 55px;
    padding-bottom: 15px;
}

.header-description {
    color: #444343;
    padding-bottom: 30px;
}

.primary-btn {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 13px;
    padding: 18px 35px;
    border: 0;
    height: 50px;
    background-color: #fd6e0a;
    border-radius: 5px;
    text-align: center;
}

/* Body description style */
.previous-year-history {
    display: flex;
    background-color: none;
    padding-top: 130px
}

.image {
    padding-left: 100px;
}

.body-description {
    padding: 250px 200px 50px 80px;
    font-size: 15px;
}

.body-title {
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 20px;
}

.body-description-one {
    color: #444343;
    font-weight: 400;
    line-height: 26px;

    padding-bottom: 10px;
}

.lists {
    color: #444343;
    font-weight: 400;
}

.list {
    padding: 10px 0;
}
.fa-check {
    color: green;
}